<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MTECHProgramme.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BC51D5061E92A077000D9249</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC51D51C1E92A078000D9249</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC51D5271E92A078000D9249</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
